html body {
    background-color: #F5F5F5!important;
}

.front-overlay-content {
    background: url(assets/img_elements/bg.jpg);
}

input.ap-form-submit-button,
.no-touch .wp-pagenavi a:hover,
.wp-pagenavi span.current,
.entry-btn,
.my-paginated-posts span,
#newsletter-form input.newsletter-btn,
#contactform .sendemail,
#back-top span,
ul.mv_list_small li h3 span,
#tabs li.active a,
.no-touch #tabs li.active a:hover,
#tabs2 li.active2 a,
.no-touch #tabs2 li.active2 a:hover {
    background-color: #a2413d !important;
}

#mcTagMap .tagindex h4,
#sc_mcTagMap .tagindex h4 {
    border-bottom: 5px solid #ee9622 !important;
}

ul.infinite-articles li.sticky {
    border-top: 10px solid #ee9622 !important;
}

.entry-top span a,
div.feed-info strong,
ul.article_list .an-widget-title span a,
.copyright a {
    border-bottom: 1px solid #ee9622 !important;
}

div.uploadbtn .simplebtn,
.front-overlay-content #searchform1 .buttonicon,
.post-category a,
ul.article_list .article-category {
    background-color: #e23129 !important;
}

.article-comm,
.wp-pagenavi a,
.wp-pagenavi span,
.single-content h3.title,
.my-paginated-posts p a,
#wp-calendar tbody td#today,
.comments h3.comment-reply-title,
#commentform #sendemail,
form.wpcf7-form input.wpcf7-submit,
.bar-top,
.fa-box,
#tabs li a,
#tabs2 li a {
    background-color: #222222 !important;
}

.single-content h3.title i,
.comments h3.comment-reply-title i {
    border-color: #222222 transparent #222222 #222222 !important;
}

.arrow-down-related {
    border-top: 10px solid #222222!important;
}

.widget h3.title:after,
h3.top-title:after {
    background: none repeat scroll 0% 0% #222222 !important;
}