.review-box {
    margin: 20px 0;
    background-color: #eee;
    padding: 10px;
    color: #FFF;
    font-size: 12px
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#review-box h1,
#review-box h2,
#review-box h3,
#review-box h4,
#review-box h5,
#review-box h6,
#review-box p,
#review-box strong {
    margin: 0;
    color: #FFF
}

#review-box br {
    display: none
}

.review-bottom {
    clear: both
}

.taq-clear {
    clear: both
}

#review-box h2.review-box-header {
    font-size: 20px;
    color: #FFF;
    margin-bottom: 2px;
    background: #2b2b2b;
    font-size: 22px;
    padding: 10px 8px;
    margin-bottom: 2px;
    font-weight: bold
}

.review-item {
    margin-bottom: 2px;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s
}

#review-box .review-item h5 {
    font-size: 12px;
    color: #FFF;
    position: relative;
    z-index: 2;
    line-height: 20px
}

#review-box.review-percentage .review-item h5,
#review-box.review-percentage .review-item h5 {
    line-height: 34px;
    padding: 0 8px
}

.review-percentage .review-item span {
    position: relative;
    background: #3a3a3a;
    display: block;
    height: 34px
}

.review-percentage .review-item span span {
    top: 0;
    position: absolute;
    background-color: #00a9b0;
    background-image: url(img/stripes.png);
    display: block;
    height: 34px;
    -webkit-animation: wentrance 2s;
    animation: wentrance 2s
}

/*@-webkit-keyframes wentrance {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}*/

@keyframes wentrance {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.review-stars .review-item {
    background: #3a3a3a;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 6px 8px
}

#review-box.review-stars .review-item h5 {
    float: left
}

.review-stars .stars-large,
.review-stars .hearts-large,
.review-stars .thumbs-large {
    float: right
}

.review-final-score .stars-large,
.review-final-score .hearts-large,
.review-final-score .thumbs-large {
    float: none !important;
    margin: 0 auto 10px
}

.review-summary {
    background-color: #3a3a3a;
    overflow: hidden;
    position: relative;
    min-height: 85px
}

.review-short-summary {
    padding: 10px;
    display: table-cell;
    vertical-align: top;
    padding-right: 122px
}

.review-short-summary a {
    color: #ccc;
    text-decoration: underline
}

.review-short-summary a:hover {
    color: #fff
}

.review-final-score {
    background-color: #00a9b0;
    width: 100px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: #fff;
    padding: 10px 5px;
    border-color: #eee;
    border-style: solid;
    border-width: 0 0 0 2px
}

.review-final-score .post-large-rate {
    margin-top: 5px
}

#review-box .review-final-score h3 {
    font-size: 44px;
    color: #FFF;
    font-weight: bold
}

#review-box .review-final-score h3 span {
    font-size: 24px
}

#review-box .review-final-score h4 {
    margin-bottom: 0;
    font-size: 20px;
    color: #FFF
}

.review-top {
    float: left;
    width: 60%;
    margin-right: 20px
}

span.post-small-rate,
span.post-small-rate span,
span.post-large-rate,
span.post-large-rate span {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

span.post-small-rate {
    width: 54px;
    display: block;
    height: 15px;
    background-position: left bottom;
    background-repeat: no-repeat
}

span.post-small-rate span {
    width: 100%;
    display: block;
    height: 15px;
    background-position: left top;
    background-repeat: no-repeat;
    float: left
}

span.stars-small,
span.stars-small span {
    background-image: url(img/stars-small.png)
}

span.hearts-small,
span.hearts-small span {
    background-image: url(img/hearts-small.png)
}

span.thumbs-small,
span.thumbs-small span {
    background-image: url(img/thumbs-small.png)
}

span.post-large-rate {
    width: 98px;
    display: block;
    height: 22px;
    background-position: left bottom;
    background-repeat: no-repeat
}

span.post-large-rate span {
    width: 100%;
    display: block;
    height: 22px;
    background-position: left top;
    background-repeat: no-repeat;
    float: left
}

span.stars-large,
span.stars-large span {
    background-image: url(img/stars-large.png)
}

span.hearts-large,
span.hearts-large span {
    background-image: url(img/hearts-large.png)
}

span.thumbs-large,
span.thumbs-large span {
    background-image: url(img/thumbs-large.png)
}

.post-single-rate {
    float: left;
    margin-right: 5px
}

.user-rate-wrap {
    background: #2b2b2b;
    margin-top: 2px;
    padding: 7px 8px
}

.user-rate {
    float: right;
    width: 98px
}

.user-rate-wrap .user-rating-text {
    float: left
}

ul.reviews-posts {
    list-style: none
}

ul.reviews-posts li {
    overflow: hidden
}

ul.reviews-posts .review-thumbnail {
    float: left;
    margin-right: 10px
}

ul.reviews-posts h3 {
    margin-bottom: 5px
}

.user-rate-active span.post-large-rate span {
    cursor: pointer
}

.taq-load {
    background: url(img/ajax-loader.gif) no-repeat center;
    width: 98px;
    height: 22px;
    display: block
}

body.rtl .review-top {
    float: right;
    margin-right: 0;
    margin-left: 20px
}

body.rtl .review-stars .stars-large,
body.rtl .review-stars .hearts-large,
body.rtl .review-stars .thumbs-large,
body.rtl .user-rate,
body.rtl .stars-large span,
body.rtl .hearts-large span,
body.rtl .thumbs-large span {
    float: left
}

body.rtl #review-box.review-stars .review-item h5,
body.rtl .user-rate-wrap .user-rating-text {
    float: right
}

body.rtl .review-final-score {
    border-width: 0 2px 0 0;
    right: auto;
    left: 0
}

body.rtl .post-single-rate {
    float: right;
    margin-left: 5px;
    margin-right: 0
}

body.rtl ul.reviews-posts .review-thumbnail {
    float: right;
    margin-left: 10px;
    margin-right: 0
}

body.rtl .review-short-summary {
    padding-right: 10px;
    padding-left: 122px
}

@media only screen and (max-width: 768px) {
    .review-top,
    body.rtl .review-top {
        float: none;
        width: auto;
        margin-right: 0;
        margin-left: 0
    }
}

@media only screen and (max-width: 480px) {
    .review-final-score,
    body.rtl .review-final-score {
        width: auto;
        display: block;
        border-width: 0 0 2px 0;
        height: auto;
        position: relative
    }
    .review-short-summary,
    body.rtl .review-short-summary {
        padding: 10px
    }
    .user-rate-wrap,
    body.rtl .user-rate-wrap {
        text-align: center
    }
    .user-rate,
    body.rtl .user-rate {
        float: none;
        margin: 5px auto 0
    }
    .user-rate-wrap .user-rating-text,
    body.rtl .user-rate-wrap .user-rating-text {
        float: none
    }
}

.rb-resume-left {
    line-height: 1.7;
    width: 65%;
    float: left
}

.rb-resume-right {
    line-height: 1.7;
    width: 25%;
    float: right
}

.rb-resume-block {
    padding: 20px 0 0 0
}

.rb-resume-block .rb-about:after {
    content: " ";
    clear: both;
    display: block;
    margin: 0 0 30px
}

.rb-resume-block .rb-about-image {
    float: left;
    width: 35%;
    margin-right: 5%
}

.rb-resume-block .rb-about-image img {
    width: 100%;
    height: auto
}

.rb-resume-block .rb-about .rb-about-text {
    overflow: hidden;
    position: relative;
    top: -4px
}

.rb-resume-block .rb-about .rb-about-text .rb-title {
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 15px;
    font-size: 35px;
    margin: 0
}

.rb-resume-block .rb-about .rb-about-text .rb-subtitle {
    padding-bottom: 13px;
    font-size: 19px;
    line-height: 1.5;
    margin: 0
}

.rb-resume-block .rb-about .rb-about-text .rb-description {
    padding-bottom: 22px;
    margin: 0
}

.rb-resume-block .rb-about .rb-about-text .rb-description p {
/*    font-weight: 14px;*/
    line-height: 1.7;
    padding: 0;
    margin: 0
}

.rb-resume-block .rb-experience {
    padding: 25px 0 0 0
}

.rb-resume-block .rb-experience .rb-text-block {
    padding: 10px 0 0;
    margin: 0
}

.rb-resume-block .rb-experience .rb-section-title {
    color: #E04C38;
    border-top: 1px solid #ddd;
    font-weight: bold;
    padding: 10px 0 25px;
    font-size: 25px;
    margin: 0
}

.rb-resume-block .rb-experience-item {
    padding-bottom: 30px
}

.rb-resume-block .rb-experience-item .rb-title {
    font-size: 17px;
    font-weight: bold;
    padding: 0
}

.rb-resume-block .rb-experience-item .rb-right {
    float: right;
    font-size: 17px;
    padding: 0
}

.rb-resume-block .rb-experience-item .rb-subtitle {
    color: #aaa
}

.rb-resume-block .rb-experience-item .rb-description {
    padding-top: 10px;
    margin: 0
}

.rb-resume-block .rb-experience-item .rb-description p {
    font-size: 14px;
    line-height: 1.7;
    padding: 0;
    margin: 0
}

.rb-resume-block .rb-btn,
.widget .rb-resume-block .rb-btn {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 14px 5px;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #E04C38;
    border: 2px solid #E04C38;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    line-height: 1.9
}

.rb-resume-block .rb-buttons .rb-btn+.rb-btn {
    margin-left: 10px
}

.rb-resume-block .rb-btn.rb-btn-white {
    background-color: transparent;
    border-color: #333;
    color: #333
}

.rb-resume-block .rb-btn:hover,
.widget .rb-resume-block .rb-btn:hover {
    text-decoration: none;
    background: #333;
    color: #fff;
    border-color: #333
}

.widget .rb-resume-block .rb-buttons .rb-btn+.rb-btn {
    margin: 10px 0 0 0
}

.widget .rb-resume-block .rb-btn {
    width: 100%;
    display: block;
    margin: 0
}

.rb-widget-experience {
    font-size: 15px
}

.rb-widget-experience .rb-experience-title {
    padding: 0 0 5px;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold
}

.rb-experience-rating {
    color: #e04c38;
    font-size: 17px;
    padding: 0 0 5px;
    line-height: 1.5
}

.rb-widget-experience .rb-experience-description p {
/*    font-weight: 14px;*/
    line-height: 1.5
}

.widget .rb-contact-block,
.widget .rb-contact-block li {
    list-style: none
}

.widget .rb-contact-block li {
    min-height: 35px;
    margin-bottom: 11px
}

.widget .rb-contact-block li span {
    font-size: 16px;
    background: #eee;
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: -5px 17px 0 0
}

.widget .rb-resume-block {
    padding: 0
}

.widget .rb-resume-block .rb-about:after {
    margin: 0 0 20px
}

.widget .rb-resume-block .rb-about-image {
    float: none;
    margin: 0 0 20px;
    max-width: 100%;
    height: auto
}

.widget .rb-resume-block .rb-about-image img {
    width: 100%;
    max-width: 100%;
    height: auto
}

.widget .rb-resume-block .rb-about .rb-about-text {
    position: relative;
    top: 0
}

.widget .rb-resume-block .rb-about .rb-about-text .rb-title {
    font-size: 25px
}

.widget .rb-resume-block .rb-about .rb-about-text .rb-subtitle {
    font-size: 16px
}

.widget .rb-resume-block .rb-about .rb-about-text .rb-description p {
/*    font-weight: 14px;*/
    line-height: 1.7;
    padding: 0;
    margin: 0
}

.widget .rb-resume-block .rb-experience .rb-section-title {
    color: #E04C38;
    border-top: 1px solid #ddd;
    font-weight: bold;
    padding: 10px 0 25px;
    font-size: 20px;
    margin: 0
}

.widget .rb-resume-block .rb-experience-item {
    padding-bottom: 20px
}

.widget .rb-resume-block .rb-experience-item .rb-title {
    font-size: 15px;
    line-height: 1.6
}

.widget .rb-resume-block .rb-experience-item .rb-right {
    float: none;
    display: block;
    font-size: 15px;
    padding: 0
}

.widget .rb-resume-block .rb-experience-item .rb-right p {
    margin: 0
}

.widget .rb-resume-block .rb-experience-item .rb-subtitle {
    padding-top: 7px
}

.widget .rb-resume-block .rb-experience-item .rb-description p {
    font-size: 13px
}

.star-on-png,
.star-off-png,
.star-half-png {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none
}

.star-on-png:before {
    content: "\f005"
}

.star-off-png:before {
    content: "\f006"
}

.star-half-png:before {
    content: "\f123"
}

@media (max-width: 790px) {
    .rb-resume-block .rb-buttons .rb-btn+.rb-btn {
        margin: 10px 0 0 0
    }
    .rb-resume-block .rb-btn {
        width: 100%;
        display: block;
        margin: 0;
        text-align: center
    }
    .rb-resume-left {
        width: 100%;
        float: none;
        margin: 0 0 30px
    }
    .rb-resume-right {
        width: 100%;
        float: none
    }
}

@media (max-width: 600px) {
    .rb-experience-title {
        padding: 0 0 5px;
        font-size: 17px;
        line-height: 1.5;
        font-weight: bold
    }
    .rb-experience-rating {
        color: #e04c38;
        font-size: 17px;
        padding: 0 0 5px;
        line-height: 1.5
    }
    .rb-widget-experience .rb-experience-description p {
        /*font-weight: 14px;*/
        line-height: 1.5
    }
    .rb-contact-block,
    .rb-contact-block li {
        list-style: none
    }
    .rb-contact-block li {
        min-height: 35px;
        margin-bottom: 11px
    }
    .rb-contact-block li span {
        font-size: 16px;
        background: #eee;
        float: left;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin: -5px 17px 0 0
    }
    .rb-resume-block .rb-about:after {
        margin: 0 0 20px
    }
    .rb-resume-block .rb-about-image {
        float: none;
        margin: 0 auto 20px;
        width: 50%;
        max-width: 50%;
        height: auto
    }
    .rb-resume-block .rb-about-image img {
        width: 100%;
        max-width: 100%;
        height: auto
    }
    .rb-resume-block .rb-about .rb-about-text {
        position: relative;
        top: 0;
        text-align: center
    }
    .rb-resume-block .rb-about .rb-about-text .rb-title {
        font-size: 25px
    }
    .rb-resume-block .rb-about .rb-about-text .rb-subtitle {
        font-size: 16px
    }
    .rb-resume-block .rb-about .rb-about-text .rb-description p {
/*        font-weight: 14px;*/
        line-height: 1.7;
        padding: 0;
        margin: 0
    }
    .rb-resume-block .rb-experience .rb-section-title {
        color: #E04C38;
        border-top: 1px solid #ddd;
        font-weight: bold;
        padding: 10px 0 25px;
        font-size: 20px;
        margin: 0
    }
    .rb-resume-block .rb-experience-item {
        padding-bottom: 20px
    }
    .rb-resume-block .rb-experience-item .rb-title {
        font-size: 15px;
        line-height: 1.6
    }
    .rb-resume-block .rb-experience-item .rb-right {
        float: none;
        display: block;
        font-size: 15px;
        padding: 0
    }
    .rb-resume-block .rb-experience-item .rb-right p {
        margin: 0
    }
    .rb-resume-block .rb-experience-item .rb-subtitle {
        padding-top: 7px
    }
    .rb-resume-block .rb-experience-item .rb-description p {
        font-size: 13px
    }
}

@media (max-width: 480px) {
    .rb-resume-block .rb-about-image {
        width: 100%;
        max-width: 100%
    }
    .rb-resume-block .rb-about .rb-about-text {
        text-align: left
    }
}

.ap-form-field-wrapper label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}

.ap-form-field input[type="text"],
.ap-form-field input[type="email"] {
    height: 32px;
    padding: 0 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.ap-form-field input[type="file"] {
    border: none;
    padding: 0px
}

.ap-form-field-wrapper {
    margin-bottom: 10px;
    margin-top: 10px
}

.ap-form_field textarea {
    width: 100%
}

.ap-form_field select {
    height: 34px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.ap-form-error-message {
    color: red;
    font-size: 14px
}

#ap-captcha-result {
    width: 200px;
    margin-left: 10px
}

div.mce-tinymce,
.ap-form-content-editor {
    border: 1px solid #EEE !important
}

.ap-main-submit-button {
    background: none repeat scroll 0 0 #2ea2cc;
    border-color: #0074a2;
    box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    text-decoration: none !important;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    margin: 0;
    padding: 0 20px 1px;
    white-space: nowrap;
    text-align: center
}

.ap-main-submit-button:hover {
    background: #2C98C0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(120, 200, 230, 0.5) inset;
    color: #fff
}

.entry-content>.ap-form-wrapper {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px
}

.ap-form-field textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clear {
    clear: both;
    display: block
}

.accordionButton,
.accordionButton1,
.accordionButton2,
.accordionButton3 {
    width: 100%;
    float: left;
    background: url(img/plus.png) no-repeat right;
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 600
}

.accordionButton.first,
.accordionButton1.first,
.accordionButton2.first,
.accordionButton3.first {
    margin-top: 20px
}

.accordionContent {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    margin-top: 15px;
    font-size: 14px
}

.on {
    background: url(img/minus.png) no-repeat right
}

.accordionButton,
.accordionButton1,
.accordionButton2,
.accordionButton3 {
    border-bottom: 1px solid #f0eee9;
    color: #444
}

.accordionButton:hover,
.accordionButton1:hover,
.accordionButton2:hover,
.accordionButton3:hover {
    background: #FFF url(img/plus.png) no-repeat right;
    border-bottom: 1px solid #bebebd
}

.on:hover {
    background: #FFF url(img/minus.png) no-repeat right
}

.accordionButton.first,
.accordionButton1.first,
.accordionButton2.first,
.accordionButton3.first {
    border-top: 1px solid #f0eee9
}

.accordionContent {
    border-bottom: 1px solid #f0eee9
}

.simplebtn,
.smallbtn {
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    margin: 10px 10px 0 0
}

.smallbtn {
    padding: 2px 10px;
    font-weight: 600
}

.smallbtn a {
    color: #FFF !important
}

.smallbtn a:hover {
    background: inherit !important;
    text-decoration: underline
}

.simplebtn:hover {
    opacity: .85;
    text-decoration: none !important
}

a.simplebtn.blue:hover {
    background-color: #09c
}

a.simplebtn.green:hover {
    background-color: #7dc34d
}

a.simplebtn.green2:hover {
    background-color: #0fbe7c
}

a.simplebtn.orange:hover {
    background-color: #e76b33
}

a.simplebtn.gold:hover {
    background-color: #ffd62c
}

a.simplebtn.black:hover {
    background-color: #3b3b3b
}

a.simplebtn.pink:hover {
    background-color: #d63f72
}

a.simplebtn.red:hover {
    background-color: #c33 !important
}

.simplebtn.blue {
    background-color: #09c;
    border: 1px solid #09c;
    color: #FFF;
    text-shadow: 0 -1px 0 #09c
}

.simplebtn.green {
    background-color: #7dc34d;
    border: 1px solid #7dc34d;
    color: #FFF;
    text-shadow: 0 -1px 0 #7dc34d
}

.simplebtn.green2 {
    background-color: #0fbe7c;
    border: 1px solid #0fbe7c;
    color: #FFF;
    text-shadow: 0 -1px 0 #0fbe7c
}

.simplebtn.orange {
    background-color: #e76b33;
    border: 1px solid #e76b33;
    color: #FFF;
    text-shadow: 0 -1px 0 #e76b33
}

.simplebtn.gold {
    background-color: #ffd62c;
    border: 1px solid #ffd62c;
    color: #FFF;
    text-shadow: 0 -1px 0 #ffd62c
}

.simplebtn.black {
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    color: #FFF;
    text-shadow: 0 -1px 0 #3b3b3b
}

.simplebtn.pink {
    background-color: #d63f72;
    border: 1px solid #d63f72;
    color: #FFF;
    text-shadow: 0 -1px 0 #d63f72
}

.simplebtn.red {
    background-color: #c33;
    border: 1px solid #c33;
    color: #FFF;
    text-shadow: 0 -1px 0 #c33
}

.one_half,
.one_half_last {
    float: left;
    width: 48%;
    margin-top: 10px;
    margin-bottom: 20px !important;
    margin-right: 4%
}

.one_half_last {
    margin-right: 0
}

.one_third,
.one_third_last {
    float: left;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 20px !important;
    margin-right: 5%
}

.one_third_last {
    margin-right: 0
}

.one_fourth,
.one_fourth_last {
    float: left;
    width: 23.5%;
    margin-top: 10px;
    margin-bottom: 20px !important;
    margin-right: 2%
}

.one_fourth_last {
    margin-right: 0
}

.boxinfo {
    box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset;
    background: #ddecf5;
    color: #99b1c1;
    border: 1px solid #c3d9e5;
    padding: 15px;
    margin: 15px 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center
}

.boxsucces {
    box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset;
    background: #e9f6e3;
    color: #93c088;
    border: 1px solid #ceedc4;
    padding: 15px;
    margin: 15px 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center
}

.boxerror {
    box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset;
    background: #ffe3e3;
    color: #cf9494;
    border: 1px solid #fdcdcd;
    padding: 15px;
    margin: 15px 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center
}

.boxnotice {
    box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset;
    background: #fcf9da;
    color: #b3ad77;
    border: 1px solid #ebe7bc;
    padding: 15px;
    margin: 15px 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center
}

ul.simplelist li {
    padding: 3px 0 3px 15px;
    background: url(img/li_arrow.png) no-repeat 0px center
}

ul.simplelist {
    margin: 20px 40px;
    list-style-type: none
}

ul.minus-blue-list li {
    padding: 3px 0 3px 17px;
    background: url(img/li_minus_blue.png) no-repeat 0px center
}

ul.minus-blue-list {
    margin: 20px 40px;
    list-style-type: none
}

ul.minus-green-list li {
    padding: 3px 0 3px 17px;
    background: url(img/li_minus_green.png) no-repeat 0px center
}

ul.minus-green-list {
    margin: 20px 40px;
    list-style-type: none
}

ul.minus-orange-list li {
    padding: 3px 0 3px 17px;
    background: url(img/li_minus_orange.png) no-repeat 0px center
}

ul.minus-orange-list {
    margin: 20px 40px;
    list-style-type: none
}

ul.minus-gold-list li {
    padding: 3px 0 3px 17px;
    background: url(img/li_minus_gold.png) no-repeat 0px center
}

ul.minus-gold-list {
    margin: 20px 40px;
    list-style-type: none
}

ul.minus-black-list li {
    padding: 3px 0 3px 17px;
    background: url(img/li_minus_black.png) no-repeat 0px center
}

ul.minus-black-list {
    margin: 20px 40px;
    list-style-type: none
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    .one_third,
    .one_third_last {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .one_third_last {
        margin-right: 0
    }
    .one_fourth,
    .one_fourth_last {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .one_fourth_last {
        margin-right: 0
    }
}

@media only screen and (min-width: 480px) and (max-width: 760px) {
    .one_third,
    .one_third_last {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .one_third_last {
        margin-right: 0
    }
    .one_fourth,
    .one_fourth_last {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .one_fourth_last {
        margin-right: 0
    }
}

@media only screen and (max-width: 479px) {
    .one_half,
    .one_half_last {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .one_half_last {
        margin-right: 0
    }
    .one_third,
    .one_third_last {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .one_third_last {
        margin-right: 0
    }
    .one_fourth,
    .one_fourth_last {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .one_fourth_last {
        margin-right: 0
    }
}

div.wpcf7 {
    margin: 0;
    padding: 0
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14
}

div.wpcf7-mail-sent-ng {
    border: 2px solid #f00
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700
}

span.wpcf7-form-control-wrap {
    position: relative
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    display: block
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid #f00;
    background: #fff;
    padding: .2em .8em
}

span.wpcf7-list-item {
    margin-left: 0.5em
}

.wpcf7-display-none {
    display: none
}

div.wpcf7 img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin-left: 4px
}

div.wpcf7 div.ajax-error {
    display: none
}

div.wpcf7 .placeheld {
    color: #888
}

.kk-star-ratings {
    width: 120px
}

.kk-star-ratings.top-left,
.kk-star-ratings.top-right {
    margin-top: 3px
}

.kk-star-ratings.lft {
    float: left;
    margin-right: 10px
}

.kk-star-ratings.rgt {
    float: right;
    margin-left: 10px
}

.kk-star-ratings .kksr-stars {
    height: 24px;
    position: relative
}

.kk-star-ratings .kksr-star {
    background-position: 0px 0px
}

.kk-star-ratings .kksr-star.gray {
    background-image: url(img/kk-star_gray.png)
}

.kk-star-ratings .kksr-star.yellow {
    background-image: url(img/kk-star_yellow.png)
}

.kk-star-ratings .kksr-star.orange {
    background-image: url(img/kk-star_orange.png)
}

.kk-star-ratings .kksr-stars .kksr-fuel {
    height: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0
}

.kk-star-ratings .kksr-stars a {
    width: 24px;
    height: 24px;
    float: left;
    position: relative;
    z-index: 1
}

.kk-star-ratings .kksr-legend {
    font-size: 12px;
    color: #999;
    text-align: center;
    line-height: 18px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif
}

.kk-star-ratings .kksr-legend .kksr-title {
    display: none
}

.zilla-likes {
    background: url(img/heart.png) no-repeat 0 49%;
    border: 0 !important;
    display: inline-block;
    margin-bottom: 10px;
    min-height: 14px;
    padding-left: 18px;
    text-decoration: none
}

.no-touch .zilla-likes:hover,
.zilla-likes.active {
    background: url(img/heart_active.png) no-repeat 0 49%;
    border: 0 !important;
    margin: 0 0 10px 0 !important;
    padding-left: 18px !important;
    text-decoration: none
}
.zilla-likes.active {
    opacity: 0.5;
}
.blog-home-container .zilla-likes.active {
    opacity: 1;
}

.zilla-blog-widget .zilla-likes,
.tz_recentwork_widget .zilla-likes,
.tz_blog_widget .zilla-likes,
.home div#the_body #slider .excerpt .zilla-likes,
.archive div#the_body #slider .excerpt .zilla-likes {
    display: none
}

.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -99999999px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.ui-helper-clearfix {
    display: inline-block
}


/*\*/

* html .ui-helper-clearfix {
    height: 1%
}

.ui-helper-clearfix {
    display: block
}


/**/

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-state-disabled {
    cursor: default!important
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-resizable {
    position: relative
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    z-index: 99999;
    display: block
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px
}

.wp-dialog {
    position: absolute;
    width: 300px;
    overflow: hidden
}

.wp-dialog .ui-dialog-titlebar {
    position: relative
}

.wp-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px
}

.wp-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0;
    background: none;
    overflow: auto;
    zoom: 1.0;
}

.wp-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em
}

.wp-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right
}

.wp-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer
}

.wp-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move
}

.wp-dialog {
    border: 1px solid #999;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3)
}

.wp-dialog .ui-dialog-title {
    display: block;
    text-align: center;
    padding: 1px 0 2px
}

.wp-dialog .ui-dialog-titlebar {
    padding: 0 1em;
    background-color: #444;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #e5e5e5
}

.wp-dialog {
    background-color: #f5f5f5;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px
}

.wp-dialog .ui-dialog-titlebar {
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px
}

.wp-dialog .ui-dialog-titlebar-close {
    position: absolute;
    width: 29px;
    height: 16px;
    top: 2px;
    right: 6px;
    background: url('img/buttons.gif') no-repeat -87px -16px;
    padding: 0
}

.wp-dialog .ui-dialog-titlebar-close:hover,
.wp-dialog .ui-dialog-titlebar-close:focus {
    background-position: -87px -32px
}

.ui-widget-overlay {
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=60)
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget {
    font: 12px/1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
}

.ui-widget button,
.ui-widget input[type="button"],
.ui-widget input[type="submit"] {
    font-weight: bold
}

.ui-widget-header {
    border: 0;
    background: none;
    color: #000
}

.ui-widget-header .ui-icon {
    display: none
}

.ui-dialog-titlebar {
    background: #e0e0e0;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px 10px 20px
}

.ui-dialog-title {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff
}

.ui-dialog-titlebar-close {
    float: right
}

.ui-dialog .ui-dialog-content {
    background: none;
    border: solid #fff;
    border-width: 1px 0 0;
    border-radius: 0 0 3px 3px;
    padding: 20px
}

.ui-dialog {
    background: #f2f2f2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    padding: 0 0 20px 0;
    z-index: 999
}

.ui-widget-overlay {
    background: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)) !important;
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)) !important;
    z-index: 4;
    position: fixed
}

.ui-dialog-buttonpane .ui-dialog-content {
    padding-bottom: 0
}

.ui-dialog-buttonpane .ui-button {
    border: 0;
    background: none;
    color: #06aeed;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff
}

.ui-dialog-buttonpane {
    float: left;
    padding: 0 20px 20px;
    width: 84%
}

.ui-dialog-buttonset .ui-button:first-child {
    float: left
}

.ui-dialog-buttonset .ui-button:last-child {
    float: right
}

.ui-dialog-content .fb-login-container {
    float: left;
    padding: 0 20px;
    margin: 0 0 20px -20px;
    width: 223px;
    height: 24px
}

.ui-dialog-titlebar .ui-button:focus {
    outline: none
}

.ui-dialog-titlebar .ui-button {
    border: 0;
    background: rgba(0, 0, 0, 0);
    color: #AFAFAF;
    font-weight: 300;
    padding: 0;
    margin: 0;
    letter-spacing: 1px
}

body {
    height: 100%
}

.ajax-login-register-container .meta {
    color: #A6A6A6;
    font-size: 11px;
    font-weight: 300;
    font-family: helvetica;
    line-height: 1.2em
}

.hentry .fb-login-container {
    margin: 0 0 20px
}

.hentry .wide .button-container input[type="submit"] {
    float: left
}

.hentry .ajax-login-register-register-container .wide .fb-login-container {
    margin: 43px 0 0
}

.form-wrapper {
    float: left;
    width: 100%;
    margin: 0 0 20px 0
}

.wide .fb-login-container {
    width: 35%;
    float: left;
    margin: 22px 0 0
}

.wide .form-wrapper input[type="text"],
.wide .form-wrapper input[type="password"] {
    width: 95%
}

.wide .button-container input[type="submit"] {
    float: right
}

.ui-dialog .form-wrapper {
    margin: 0
}

.blog_post_appendor .media-single-content img {
    width: 100%;
}
.blog_post_appendor .entry-content p {
    padding: 10px 0 10px 10px;
    text-indent: 20px;
}
.blog_post_appendor .post_main_holder .header-info {
    height: auto;
    padding: 0 23px 23px 23px;
}
.blog_post_appendor .entry-content .blog-img-container {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #eee;
}
.blog_post_appendor .entry-content .blog-img-container .blog-img {
    border-radius: 3px;
    float: left;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 40px;
    overflow: hidden;
    width: 150px;
    cursor: pointer;
}
.blog_post_appendor .post_main_holder .header-info h1.title a,
.blog_post_appendor .post_main_holder .header-info h1.title,
.static-page-content h1.title {
    color: #e23129;
}
.blog_post_appendor .post_main_holder .header-info h1.title,
.static-page-content h1.title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.blog_post_appendor .post_main_holder .header-info h2.subtitle,
.static-page-content h2.subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
}
.blog_post_appendor .post_main_holder .header-info h2.subtitle {
    color: #6f6f6f;
}
.static-page-content h2.subtitle {
    color: #808080;
}
.blog_post_appendor .post_main_holder.blog-list .header-info h1.title {
    margin-bottom: 5px;
}
.blog_post_appendor .post_main_holder.blog-list .header-info h2.subtitle {
    margin-bottom: 10px;
}
.blog_post_appendor .post_main_holder.blog-list .header-info h2.subtitle a {
    color: #6f6f6f;
}
.blog_post_appendor .post_main_holder .social-share {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 41px;
    padding: 20px 0;
    text-align: right;
    text-transform: uppercase;
}
.blog_post_appendor .post_main_holder .social-share span {
    float: left;
}
.blog_post_appendor .post_main_holder .social-share i {
    font-size: 24px;
    margin-left: 30px;
}
.blog_post_appendor .post_main_holder .social-share i.fa-facebook-official {
    color: #387ecf;
}
.blog_post_appendor .post_main_holder .social-share i.fa-twitter {
    color: #6eb7ff;
}
.blog_post_appendor .post_main_holder .social-share i.fa-pinterest {
    color: #ca2127;
}
.blog_post_appendor .post_main_holder .social-share i.fa-envelope-o {
    color: #50e3c2;
}
.blog_post_appendor .post_main_holder .social-share i.fa-whatsapp {
    color: #43a83e;
    display: none;
}
.blog_post_appendor.blog-list {
    height: 225px; display: block;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list {
    display:block; height: 100%;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info,
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .blog-post-image {
    position: absolute;
    left: 0;
    top: 0;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .blog-post-image {
    width: 450px; height: 100%;
    background-size: cover; background-repeat: no-repeat; background-position: center center;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info {
    padding: 20px 20px 20px 480px;
    box-sizing: border-box;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info .post-tags-wrapper {
    overflow: hidden; height: 30px;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info > p.content {
    line-height: 20px;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info > .read-more {
    text-align: left; font-size: 0.9em; margin-top: 5px; 
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info > .read-more a {
    color: #e23129;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info .at-time {
    float: right;
    font-size: 12px;
    color: #999;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post .blog-post-image .blog-link {
    position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 2;
}
.blog_post_appendor.blog-list .wrap-fullwidth.post .blog-post-image .post-likes {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 3px 3px 0;
    left: 0;
    margin-left: 0;
    padding: 5px 5px 7px 10px;
    right: auto;
    top: 25px;
    z-index: 1;
}
.blog-list-pagination {
    text-align: center; margin-top: 30px;
}
.blog-list-pagination > a,
.blog-list-pagination > strong {
    border: 1px solid #e23129;
    margin: 5px;
    padding: 6px 7px 4px 7px;
}
.blog-list-pagination > a {
    color: #e23129;
    background-color: #ffffff;
}
.blog-list-pagination > strong {
    background-color: #e23129;
    color: #ffffff;
}

.static-page-content {
    padding: 8px;
}
.static-page-content .page-faq > div {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 30px;
}
.static-page-content .page-faq > div:not(:last-child) {
    border-bottom: 1px solid #F1F1F1;
}
.static-page-content .page-faq .question {
    font-weight: bold;
    cursor: pointer;
}
.static-page-content .page-faq > div .answer {
    display: none;
    padding-left: 20px;
}
.static-page-footer {
    text-align: center; color: #808080; margin: 70px 0 50px 0;
}
.static-page-footer > i.fa {
    font-size: 5em;
}
.static-contacts .contacts-general > div:nth-child(2n+1) {
    font-weight: bold;
}
.static-contacts .contacts-general > div:nth-child(2n) {
    margin-bottom: 20px;
    padding-left: 25px;
}
.static-contacts .contacts-container #last_name {
    display: none;
}
.site-terms-container .tmb,
.static-about-container .tmb {
    margin-bottom: 25px;
}
.site-terms-container ul {
    margin-left: 25px;
}
.site-terms-container ul li {
    list-style: inside;
}
.static-about-container .social-media-container {
    font-size: 3em;
}
.static-about-container .social-media-container a {
    color: #808080;
    text-decoration: none;
}

.blog-home-container {
    /*height: 260px;*/
}
.blog-home-container ul {
    margin: 0 0 0 -0.5%;
}
.blog-home-container ul li {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    float: left;
    list-style: none;
    width: 23%;
    box-sizing: border-box;
    margin: 0 0 2% 2%;
    position: relative;
}
.blog-home-container ul li.ad-space {
	max-height: 214px;
	overflow: hidden;
}
.blog-home-container ul li.ad-space:after {
    color: rgba(0, 0, 0, 0.1);
    content: "Рекламирай тук";
    position: absolute;
    text-align: center;
    top: 90px;
    width: 100%;
}
.blog-home-container ul li div.post-likes {
    background-color: rgba(0,0,0,0.5); 
    padding: 5px 5px 7px 10px; 
    border-radius: 3px 0 0 3px;
}
.blog-home-container ul li img {
    max-width: 100%;
	min-height: 120px;
}
.blog-home-container ul li h3 {
    line-height: 20px; 
    padding: 10px 5px 0px 5px;
    color: #e23129;
    font-size: 14px;
    min-height: 30px;
}
.blog-home-container ul li .subtitle {
    color: #777;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0 5px;
    line-height: 16px;
    min-height: 16px;
}
.blog-home-container ul li .author-box {
    box-sizing: border-box;
    height: auto;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
}
.home-fullwidth.footer {
    display: block;
	background-color: rgba(0,0,0,0.1);
	padding-top: 10px;
    margin-top: 10px;
}
.home-fullwidth.footer h2 {
    font-size: 18px;
}
.home-fullwidth.footer .blog-list {
    padding-right: 40px;
}
.home-fullwidth.footer .blog-single {
    height: 50px;
    position: relative;
}
.home-fullwidth.footer .blog-single:not(:first-child) {
    margin-top: 12px;
    padding-top: 0px;
    border-top: 1px solid #eee;
}
.home-fullwidth.footer .blog-single > a > div {
    position: absolute;
    left: 0;
    top: 6px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.home-fullwidth.footer .blog-single .blog-img-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
}
.home-fullwidth.footer .blog-single .blog-img-cover > a {
    display: block;
    width: 100%;
    height: 100%;
}
.home-fullwidth.footer .blog-single .blog-content {
    padding-left: 120px;
}
.home-fullwidth.footer .blog-single .blog-content h2.title {
    color: #e23129;
    font-size: 16px;
    line-height: 16px;
    margin: 8px 0 0;
}
.home-fullwidth.footer .blog-single .blog-content h3.subtitle {
    color: #6f6f6f;
    font-size: 12px;
}
.home-fullwidth.footer .blog-single .blog-content .blog-meta {
    color: #999;
    font-size: 12px;

}
.home-fullwidth.footer > div > div > div:first-child {
    float: left; width: 33%;
}
.home-fullwidth.footer > div > div > div:nth-child(2) {
    float: left; width: 47%;
}
.home-fullwidth.footer > div > div > div:last-child {
    float: left; width: 20%;
}
.home-fullwidth.footer > div > div > div:last-child .social {
    margin: 10px 0;
}
.home-fullwidth.footer > div > div > div:last-child .social > a {
    font-size: 1.5em;
    margin: 0 10px 0 0;
}
.home-fullwidth.footer > div > div > div:last-child .social > a:last-child {
    margin-right: 0;
}
.home-fullwidth.footer > div > div > div:last-child .nav > a {
    display: block;
    line-height: 28px;
}
@media only screen and (max-width: 1230px) {
    .home-fullwidth.footer > div > div > div:first-child {
        box-sizing: border-box;
        float: left;
        padding-left: 10px;
        width: 380px;
    }
    .home-fullwidth.footer > div > div > div:nth-child(2) {
        width: calc(100% - 380px - 200px);
    }
    .home-fullwidth.footer > div > div > div:last-child {
        width: 200px;
    }
    .blog-home-container ul li {
        margin: 0 0 2% 1.75%;
        width: 31%;
    }
    .blog-home-container ul li:nth-child(4) {
        display: none;
    }

    .blog-home-container ul li.ad-space {
            max-height: 243px;
    }
    .blog_post_appendor .entry-content .blog-img-container .blog-img {
        width: 135px;
    }
    
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .blog-post-image {
        width: 35%;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info {
        width: 100%;
        padding-left: calc(35% + 20px);
    }
}
@media only screen and (max-width: 1005px) {
    .home-fullwidth.footer > div > div > div:first-child {
        box-sizing: border-box;
        float: left;
        padding-left: 10px;
        width: 380px;
    }
    .home-fullwidth.footer > div > div > div:nth-child(2) {
        width: calc(100% - 380px);
    }
    .home-fullwidth.footer > div > div > div:last-child {
        box-sizing: border-box;
        padding: 20px 40px;
        margin-top: 30px;
        width: 100%;
    }
    .home-fullwidth.footer > div > div > div:last-child .nav > a {
        display: inline;
        float: left;
        margin: 0 10px;
    }
    .blog-home-container ul li {
        margin: 0 0 3% 2%;
        width: 47%;
    }
    .blog-home-container ul li:nth-child(3),
    .blog-home-container ul li:nth-child(4) {
        display: none;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .blog-post-image {
        width: 35%;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info {
        width: 100%;
        padding-left: calc(35% + 20px);
    }
}

@media only screen and (max-width: 680px) {
    .home-fullwidth.footer > div > div > div:first-child {
        box-sizing: border-box;
        float: left;
        text-align: center;
        width: 100%;
    }
    .home-fullwidth.footer > div > div > div:nth-child(2) {
        box-sizing: border-box;
        padding: 20px 40px;
        width: 100%;
    }
    .home-fullwidth.footer > div > div > div:last-child {
        box-sizing: border-box;
        padding: 20px 40px;
        width: 100%;
    }
    .home-fullwidth.footer > div > div > div:last-child > a {
        float: left;
        margin: 0 10px;
    }
    .blog_post_appendor .post_main_holder .social-share {
        text-align: left;
    }
    .blog_post_appendor .post_main_holder .social-share > span {
        float: none;
        display: block;
        margin-bottom: 10px;
    }
    .blog_post_appendor.blog-list {
        height: auto;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .blog-post-image {
        width: 100%;
        height: 225px;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .blog-post-image,
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info {
        position: relative;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info {
        width: 100%;
        padding-left: 20px;
        height: 100%;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info h1.title,
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info h2.subtitle {
        text-overflow: initial; overflow: visible; white-space: initial;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info .post-tags-wrapper {
        height: auto;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info p.content {
        max-height: 80px;
        overflow: hidden;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info h1 a,
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info .read-more a {
        color: #e23129;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info .read-more {
        margin-top: 10px;
    }
    .blog_post_appendor.blog-list .wrap-fullwidth.post.blog-list .header-info .read-more .at-time {
        margin-top: 10px;
        float: none;
    }
}
@media only screen and (max-width: 580px) {
    .blog-home-container ul li {
        margin: 0 2% 0 2%;
		width: 97%;
    }
    .blog-home-container ul li:nth-child(2),
    .blog-home-container ul li:nth-child(3),
    .blog-home-container ul li:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 385px) {
    .blog_post_appendor .entry-content .blog-img-container .blog-img {
        height: 300px;
        margin-left: calc(50% - 100px);
        max-width: 200px;
        width: 100%;
    }
}
