.image-explorer-container {
	width: 285px;
}
.image-explorer-container.empty .image-explorer-image-view {
	border: 2px dashed #cccccc;
	background: none;
	margin: 0;
}
.image-explorer-container.empty .image-explorer-image-view[data-upload-prompt]:after {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	content: attr(data-upload-prompt);
	color: #aaa;
	text-align: center;
	font-size: 20px;
	width: 60%;
	height: 100%;
	margin-left: -30%;
	padding: 48px 20px 0;
	position: absolute;
	top: 35%;
	left: 50%;
	background: transparent url(../img/icon-downarrow.svg) no-repeat 50% 0%;
	background-size: 48px;
}
.image-explorer-container.empty .image-explorer-image-view .image-explorer-source {
	display: none;
}
.image-explorer-container.empty .image-explorer-image-view .image-explorer-mask {
	display: none;
}
.image-explorer-container.empty .image-explorer-image-view .image-explorer-drag-delegate {
	cursor: default;
}
.image-explorer-container.empty .image-explorer-scale-slider-wrapper {
	display: none;
}
.image-explorer-container.error .image-explorer-image-view[data-upload-prompt]:after {
	display: none;
}
.image-explorer-container .image-explorer-image-view {
	width: 280px;
	height: 280px;
	position: relative;
	overflow: hidden;
	background: url(../img/bgCheckerboard.png);
	border: 1px solid #ccc;
	margin: 1px;
}
.image-explorer-container .image-explorer-image-view.active-drop-target {
	border-color: #14892c;
}
.image-explorer-container .image-explorer-image-view.active-drop-target[data-upload-prompt]:after {
	background-image: url(../img/icon-tick-inverted.svg);
	background-size: 48px;
	color: #14892c;
}
.image-explorer-container .image-explorer-image-view .image-explorer-drag-delegate {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: move;
	background-color: rgba(0, 0, 0, 0);
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask {
	-webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -128px;
	margin-top: -128px;
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask.circle-mask {
	width: 256px;
	height: 256px;
	-webkit-border-radius: 128px;
	-moz-border-radius: 128px;
	border-radius: 128px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask.square-mask {
	width: 256px;
	height: 256px;
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask.rounded-square-mask {
	width: 256px;
	height: 256px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.image-explorer-container .image-explorer-image-view img {
	position: absolute;
	left: 50%;
	top: 50%;
}
.image-explorer-container .image-explorer-image-view .aui-message {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: 280px;
	max-height: 280px;
	margin-left: -140px;
	z-index: 10;
	word-wrap: break-word;
}
.image-explorer-container .image-explorer-image-view .aui-message.closeable {
	padding-right: 36px;
}
.image-explorer-container .image-explorer-scale-slider-wrapper {
	display: inline-block;
	    width: 230px;
	margin: 20px 25px 0;
	position: relative;
	height: 20px;
	line-height: 20px;
}
.image-explorer-container .image-explorer-scale-slider-wrapper:before,
.image-explorer-container .image-explorer-scale-slider-wrapper:after {
	width: 20px;
	height: 20px;
	content: '';
	background-size: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	background: transparent no-repeat 50% 50%;
}
.image-explorer-container .image-explorer-scale-slider-wrapper:before {
	left: -25px;
	background-image: url(../img/icon-image.svg);
}
.image-explorer-container .image-explorer-scale-slider-wrapper:after {
	right: -27px;
	background-image: url(../img/icon-image-large.svg);
}
.image-explorer-container .image-explorer-scale-slider,
.image-explorer-container .fd-slider {
	padding: 0;
	margin: 0;
	display: inline-block;
	    width: 230px;
	vertical-align: middle;
	-webkit-appearance: slider-horizontal;
	-moz-appearance: slider-horizontal;
	appearance: slider-horizontal;
}
.image-explorer-container .image-explorer-scale-slider.fd-form-element-hidden,
.image-explorer-container .fd-slider.fd-form-element-hidden {
	display: none;
}
.image-explorer-container .fd-slider .fd-slider-bar {
	left: 3px;
	right: 3px;
}
.image-explorer-container .fd-slider .fd-slider-range {
	left: 4px;
}


#avup {
	width: 285px;
	margin: 0 auto;
}
#output {
	display: none;
	margin: 20px auto 0;
}
.aui-avatar-xxxxlarge,
.aui-avatar-xxxxlarge .aui-avatar-inner {
	height: 256px;
	width: 256px;
}
#crop-button {
	display: none;
	float: right;
	position: relative;
    color: #333;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
        padding: 0px 21px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    background-color: #e8e8e8;
    font-weight: bold;
    height: 44px;
	cursor: pointer;
}